.AELFB h1{
    color: palevioletred;
    font-size: 40px;

}
.AELFB, .Events{
    border: 5px outset;
    padding: 10px;
    width: 800px;
    margin: auto;
    text-align: center;
}

#onclick h1{
color: steelblue;
}

#this h1{
    color: grey;
}

 #onmouseover{
    width: 700px;
}

#multipleFunction h1{
    color: orange;
}

#multipleFunction2 h1{
    color: black;
}