@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');



body {
    letter-spacing: 1.5px;
    line-height: 30px;
    margin: 0;
    /*padding-top:50px;*/
    background: linear-gradient(to bottom, rgba(252, 229, 203), rgba(250, 231, 161) 70.71%);
    height: 100%;
    overflow-x: hidden;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 50;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.Cart img {
    width: 50px;
}


.navbar {
    background-color: #002366;
}

.nav-link,
.dropdown-item {
    padding: 0 0 0 14px;
}



.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}

.active {
    color: #959076;
}

li .active {
    background-color: transparent !important;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    height: 50px;
}

header nav ul li a {
    height: 34px;
    line-height: 50px;
    padding: 0 9px 0 14px;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover,
header nav ul li a.active {
    text-decoration: none;
}

nav ul li a span {
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s;
}

.Navcontainer .toggle {
    width: 50px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 15px;
}

nav a:hover {
    color: white !important;
}

.dropdown-item:hover {
    background-color: transparent;
}




@media (min-width: 760px) {
    header nav ul li {
        border-bottom: none;
    }

}


@media (max-width: 760px) {




    header nav {

        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: #030f4e;
        top: 46px;
        left: -100%;
        transition: 1s;
        margin-top: 14px;
    }


    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
    }



}

.Navcontainer {
    height: 70px;
    padding: 12px;
}


nav ul li a {
    color: inherit;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.form-control1 {
    background-image: url(https://img.icons8.com/android/24/000000/search.png);
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: 18px;
    background-position: right 15px bottom 17px;
}

.search-form input {
    border-right: 1px solid;
    letter-spacing: .1em;
    font-size: 0.9rem;
    border: 0;
    padding-bottom: 0;
    border-radius: 0px;
    height: 50px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.Logo a {
    text-decoration: none;
}



.scrolling-navbar {
    transition: 500ms ease;
    background-color: #030f4e !important;

}

.scrolling-navbar.scrolled {
    background: linear-gradient(#030f4e, 65%, transparent);
}


/* animated Hamburger menu starts*/
.toggle span {
    height: 2px;
    width: 25px;
    position: absolute;
    right: 0;
    top: 47%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: .5s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
}

.toggle span:nth-child(1) {
    transform: translate(-50%, -50%) translateY(-9px);
}

.toggle span:nth-child(4) {
    transform: translate(-50%, -50%) translateY(9px);
}

.toggle:hover span:nth-child(1) {
    transform: translate(-50%, -50%) translateX(0px);
}

.toggle:hover span:nth-child(4) {
    transform: translate(-50%, -50%) translateX(0px);
}

/* animated Hamburger menu ends*/



.Logo img {
    width: 190px;
}

.dropdown-menu {
    transform: translate3d(13px, 47px, 0px) !important;
    background-color: #030f4e;
    width: 50%;
    height: 20vh;
    box-shadow: 5px 5px 2px #021943;
}


@media (min-width:768px) {
    .dropdown-menu {
        box-shadow: none;
    }
}

.dropdown-item {
    color: white;
}

.carousel-control {
    z-index: 2;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-caption h2,
.carousel-caption p {
    color: black;
}

.carousel-caption h2 {
    font-family: serif;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 6px;
    height: 6px;
    border: 1px solid #1B4066;
    background-color: transparent;
}

.carousel-indicators>li {
    border-radius: 50%;
}

.carousel-caption {
    margin-bottom: 0px;
}

/* Styling Discover Button*/
.BtnWrap {
    width: 100px;
    margin: 25px auto;
}

aside {
    margin: 20px 0;
    line-height: 34px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

aside.diamond:after,
aside.diamond:before {
    border-color: transparent #030f4e;
}

aside.diamond:before {
    left: -17px;
    border-width: 17px 17px 17px 0;
}

aside.diamond:after {
    right: -17px;
    border-width: 17px 0 17px 17px;
}

aside.diamond {
    background-color: #030f4e;
    box-shadow: 10px 15px 40px #012233;
    text-align: center;
}

aside.diamond a{
    color: white;
}

aside.diamond:hover {
    box-shadow: 10px 20px 40px rgba(1, 34, 51, 0.5);
}


aside:before,
aside:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif;
}


p {
    font-family: sans-serif;
}



.Seperator {
    width: 220px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: solid 1px #4b4a4b;
}

.card-title {
    color: black;
}

.card-text {
    color: dimgrey;
}

.card-title {
    font-weight: 600;
    text-align: center;
}


#Location-Bg P {
    font-size: 12px;
}



#Location-Bg {
    line-height: 21px;
}

#Location-Bg .BtnWrap {
    text-align: center;
    width: 90%;

}

#Location-Bg aside.diamond {
    background-color: #030f4e;
    COLOR: white
}

#Location-Bg aside.diamond:before,
#Location-Bg aside.diamond:after {
    border-color: transparent #030f4e;
}




/*styling dropdown menu*/
.wrapper {
    position: relative;
}

.dropdown-container {
    display: block;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown a {
    text-decoration: none;
    display: block;
}

.dropdown .menu-link {
    position: relative;
    letter-spacing: 2px;
    border-radius: 999px;
    transition: 350ms ease;
}

.dropdown-container {
    font-size: 17px;
}

.dropdown-content {
    position: absolute;
    margin: 0 auto;
    min-width: 200px;
    left: 11px;
    overflow: hidden;
    top: 80%;
    box-shadow: 2px 0px 25px -1px rgba(0, 0, 0, 0.15);
}

.dropdown-content ul {
    margin: 0;
    padding: 0;
}

.dropdown-content ul li {
    list-style-type: none;
}

.dropdown-content {
    z-index: -1;
    opacity: 0;
    visibility: none;
    transform: translateY(30px);
    transition: 600ms ease-in-out;
    transform-origin: bottom;
    background-color: #030f4e;
    padding: 0 0 20px;
}



.dropdown-content li:last-child {
    border-bottom: none;
}

.dropdown-item {
    transition: 150ms ease-in-out;
}


.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(8px);
    z-index: 1;
}

/*styling dropdown menu End*/






/*styling link bottom border*/


.link--underline-slide, .footer-link {
    position: relative;
    border-bottom: 2px;
}

.link--underline-slide:after, .footer-link:after {
    content: " ";
    display: block;
    position: absolute;
    left: 13px;
    bottom: -7px;
    height: 1px;
    width: 85%;
    background-color: #959076;
    transform-origin: 0% 50%;
    transform: scaleX(0);
    transition: transform 0.7s ease;
}

.footer-link:after {
    width: 100%;
    left: 0;
}


.link--underline-slide:hover:after, .footer-link:hover:after{
    transform: scaleX(1);
}

.link {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}

/*styling link bottom border ends*/

.nav-item:hover .dropdown-menu {
    display: block;

}

.nav-item:hover .nav-link:hover {
    background-color: transparent;
}

.dropdown-menu {
    top: 0;
}

.nav-link {
    display: initial;
}



.engagement-wrap .link-wrap {
    color: black;
}

.link-wrap h4 {
    font-size: 2.2em;
}

.engagement-wrap .link-wrap:hover {
    text-decoration: none;
    color: #959076 !important;
}


.carousel-inner,
.carousel-item {
    height: 100vh;
}

.carousel a:hover{
    text-decoration: none;
}

.carousel a{
    color: white;
}

@media (max-width: 480px) {
    #Carousel-1 {
        background-image: url(assets/1.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #Carousel-2 {
        background-image: url(assets/2.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #Carousel-3 {
        background-image: url(assets/3.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 767px) {
    #Carousel-1 {
        background-image: url(assets/1-2-1.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #Carousel-2 {
        background-image: url(assets/1-2-2.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #Carousel-3 {
        background-image: url(assets/1-2-3.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }
}

@media (min-width:768px) {
    #Carousel-1 {
        background-image: url(assets/11.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #Carousel-2 {
        background-image: url(assets/22.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #Carousel-3 {
        background-image: url(assets/33.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .toggle {
        display: none;
    }

    .dropdown-container {
        display: block;
    }

}

@media (min-width:992px) {
    #Carousel-1 {
        background-image: url(assets/111.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #Carousel-2 {
        background-image: url(assets/222.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #Carousel-3 {
        background-image: url(assets/333.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    #Carousel-1 {
        background-image: url(assets/4.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #Carousel-2 {
        background-image: url(assets/44.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #Carousel-3 {
        background-image: url(assets/444.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .toggle {
        display: block;
    }

}


.carousel-caption {
    position: absolute;
    top: 60%;
}

.carousel-caption h2 {
    padding-bottom: 1rem;
}

.carousel-caption h3 {
    color: black;
    line-height: 3rem;
    padding-bottom: 1.2rem;
}

@media (min-width: 768px) {
    .carousel-caption h2 {
        font-size: 3.8rem;
        padding-bottom: .5rem;
    }

    .carousel-caption h3 {
        font-size: 2rem;
        padding-bottom: 1.6rem;
    }

    .Navcontainer {
        height: 155px;
    }

    .scrolling-navbar {
        background-color: transparent !important;
    }

    .Logo img {
        width: 240px;
    }

    header {
        box-shadow: none;
    }

    header nav ul li a {
        color: black;
    }

    nav a:hover {
        color: black !important;
    }

    .dropdown-content a:hover {
        color: white !important;
    }

    header{
        position: relative;
    }
}

#small-screen-cart {
    position: absolute;
    left: 0;
    top: 16px;
}

nav ul li {
    font-size: 18px;
}

#Jewelry-Page {
    margin-top: 80px;
}

.card-body p {
    line-height: 2.3rem;
    font-family: 'Antic', sans-serif;
}



.collection-div h2{
    font-size: 1rem;
}

.collection-div .card-body{
    position: absolute;
    z-index: 10;
    visibility: hidden;
}

.collection-div:hover .card-body{
   
        visibility: visible;
} 

footer{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    margin-top: 9rem;
}


.footer-nav{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    list-style:none;
    font-family: 'Cormorant Garamond', serif;
    font-size: .7rem;
}

.footer-nav a{
    color: black;
    text-decoration: none;
}

#Spring-Awakaning-Page small{
    color: #959076;
}
#Spring-Awakaning-Page a{
    text-decoration: none;
}
