.navbar-light .navbar-nav .nav-link:hover,
.dropdown-item:hover{
    color: aquamarine;
}

@media screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
          display: block;
      }
      .dropdown-menu{
          margin-top: 0;
      }
      .dropdown-toggle{
          margin-bottom: 2px;
      }
      .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
          margin-bottom: 0;
      }
  }

  .collapse .dropdown-menu{
      background: none;
      border: none;
  }

  .First{
      background-color: #e5faf8;
      height: 313px;
  }

  .Second{
    background-color: #95e0e0;
}

.img-container{
    text-align: center;
}