@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    padding: 0;
}
  .navbar-light .navbar-nav .nav-link:hover{
      /*background-color: #f7f7f7bf;*/
      /*border-left: 2px solid #F02D3A;*/
      font-size: .90rem;
      color: #353740;
  }

 
  .navbar-light .navbar-nav .nav-link {
      color: black;
  }
  
  .First{
    height: 400px;
}

.Second{
  background-color: #12174f;
  height: 400px;
}

.img-container{
  text-align: center;
}

.lead p, h2{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
}

.text-wrap{
  color: white;
}

body{
    letter-spacing: 0.5px;
  line-height: 28px;
}

.featurette a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.featurette a:after {
    transition: all 300ms;
    height: 1px;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    background: #B22234;
    width: 100px;
}

nav{
    background-color: #ffffffd1;
}

nav:hover{
    background-color: #fff;
}

.about-p{
    text-indent: 85px;
}

.about-text-wrapper .lead{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

.product-container .btn-primary{
  
    background-color: #B22234;
    border: 2px solid #12174f;
}